PimIntegration/PimIntegration.Service/Service References/PIMServiceEndpoint/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://pim.4sound.dk/wcf/" elementFormDefault="qualified" targetNamespace="http://pim.4sound.dk/wcf/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.28.8.12:8050/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceWebContract.Products" />
  <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceWebContract.Products" name="Item" nillable="true" type="q1:ProductQueryRequestItem" />
  <xs:element name="PrimaryAction" nillable="true" type="xs:string" />
  <xs:element name="SecondaryAction" nillable="true" type="xs:string" />
  <xs:element name="MessageId" type="xs:int" />
  <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceWebContract.Products" name="QueryResponseArray" nillable="true" type="q2:ArrayOfProductQueryResponseItem" />
  <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceWebContract.Products" name="UpdateRequest" nillable="true" type="q3:ProductUpdateRequestItem" />
  <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceWebContract.Products" name="UpdateResponseArray" nillable="true" type="q4:ArrayOfProductUpdateResponseItem" />
  <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceWebContract.Products" name="QueryRequestArray" nillable="true" type="q5:ArrayOfProductQueryRequestItem" />
  <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceWebContract.Products" name="UpdateRequestArray" nillable="true" type="q6:ArrayOfProductUpdateRequestItem" />
</xs:schema>